<ion-card mercial flex [attr.size]="mercial.size">
  <img class="mercials-image" [src]="mercial.Cloudinarize(mercial.thumbnail, mercial.widthPixel, 'h_'+mercial.heightPixel+',c_lfill,g_auto')"/>
  <h2 class="card-title" bold>
    <span style="flex-basis: 50%; text-align: center;">{{ mercial.title }}</span>
  </h2>
  <p class="card-subtitle" tags>{{mercial.publisher}} &bull; <span class="tags" (click)="onTagsClick($event)" clickable>{{ mercial.getTags() }}</span> &bull; {{ mercial.getSigns()  }}&nbsp;&bull;&nbsp;&nbsp;<ion-icon name="md-time"></ion-icon>&nbsp;&nbsp;{{ mercial.duration.toFixed(0) }} sec</p>
  <div class="card-spacer"></div>
  <div class="card-buttons">
    <button class="little" (click)="onReport($event)" ion-button icon-only>
      <ion-icon name="md-alert"></ion-icon>
    </button>
    <button class="big" (click)="onView($event)" ion-button icon-only>
      <ion-icon name="ios-play"></ion-icon>
    </button>
    <button class="little" (click)="onInformation($event)" ion-button icon-only>
      <ion-icon name="information"></ion-icon>
    </button>
  </div>
</ion-card>
