<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <mercial-mercial *ngFor="let mercial of ads; let i = index" (selected)="showMercial($event)" [mercial]="mercial"></mercial-mercial>
  </ion-list>

  <ion-infinite-scroll threshold="30%" [enabled]="keepLoading" (ionInfinite)="$event.waitFor(populateOlderFeed())">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<feed-viewer *ngIf="mercialAvailable" [mercial]="currentMercial" (hide)="clearMercial($event)"></feed-viewer>
<div class="filter-viewer-backdrop" (click)="onFilterClose()" *ngIf="filterOpen">
  <div class="filter-container" id="filter-container">
    <ion-item-group radio-group>
      <ion-item-divider style="border-top-left-radius:20px; border-top-right-radius:20px;" color="light">
        {{'video_attributes' | translate}}
        <ion-icon color="primary" (click)="onFilterChange()" clickable name="md-funnel" item-end></ion-icon>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{'none' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.feedService.filters.meta = null" [checked]="this.feedService.filters.meta == null || !this.feedService.filters.meta" value="none"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Merchips</ion-label>
        <ion-radio (ionSelect)="this.feedService.filters.meta = 'merchips'" [checked]="this.feedService.filters.meta == 'merchips'" value="merchips"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'views' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.feedService.filters.meta = 'views'" [checked]="this.feedService.filters.meta == 'views'" value="views"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'duration' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.feedService.filters.meta = 'duration'" [checked]="this.feedService.filters.meta == 'duration'" value="duration"></ion-radio>
      </ion-item>
    </ion-item-group>
    <ion-item-group radio-group>
      <ion-item-divider color="light">{{'date' | translate}}</ion-item-divider>
      <ion-item>
        <ion-label>{{'newest' | translate}}</ion-label>
        <ion-radio value="newest" (ionSelect)="this.feedService.filters.date = 'newest'" [checked]="this.feedService.filters.date == 'newest'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'oldest' | translate}}</ion-label>
        <ion-radio value="oldest" (ionSelect)="this.feedService.filters.date = 'oldest'" [checked]="this.feedService.filters.date == 'oldest'"></ion-radio>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">{{'categories' | translate}}</ion-item-divider>
      <ion-item *ngFor="let key of categoriesKeys">
        <ion-label>{{categories[key]}}</ion-label>
        <ion-checkbox [attr.value]="key" (ionChange)="onCategorySelect($event)" [checked]="this.feedService.filters.categories && this.feedService.filters.categories.includes(key)" color="primary"></ion-checkbox>
      </ion-item>
    </ion-item-group>
  </div>
</div>
<mercial-loader [awaiting]="true"></mercial-loader>
