<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
      <button (click)="onFeedFilterClick($event)" ion-button icon-only color="primary" *ngIf="feedFilter">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
      <button (click)="onOfferFilterClick($event)" ion-button icon-only color="primary" *ngIf="offerFilter">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="text-center" primary tb-header>Mercial</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" corona>
        {{ authService.getMerchips() }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-tabs (ionChange)="onTabChange($event)" (swipe)="onSwipe($event)" #tabsRef selectedIndex="1">
      <ion-tab tabIcon="ios-analytics" [enabled]="!mercialViewerService.videoShowing && !offerViewerService.offerShowing" [root]="Analytics" [show]="tabsOrder.includes(0)"></ion-tab>
      <ion-tab tabIcon="logo-buffer" [enabled]="!offerViewerService.offerShowing" [root]="Feed" [show]="tabsOrder.includes(1)"></ion-tab>
      <ion-tab tabIcon="md-pricetags" [enabled]="!mercialViewerService.videoShowing" [root]="Offers" [show]="tabsOrder.includes(2)"></ion-tab>
      <ion-tab tabIcon="settings" [enabled]="!mercialViewerService.videoShowing && !offerViewerService.offerShowing" [root]="Settings" [show]="tabsOrder.includes(3)"></ion-tab>
      <ion-tab tabIcon="help-circle" [enabled]="!mercialViewerService.videoShowing && !offerViewerService.offerShowing" [root]="Help" [show]="tabsOrder.includes(4)"></ion-tab>
      <ion-tab tabIcon="md-exit" [enabled]="!mercialViewerService.videoShowing && !offerViewerService.offerShowing" (ionSelect)="onLogout()" [show]="tabsOrder.includes(5)"></ion-tab>
  </ion-tabs>
</ion-content>
<help-viewer *ngIf="showHelper" [video]="helperURL" (hide)="showHelper = false"></help-viewer>
<mercial-redeem-validator></mercial-redeem-validator>
