<ion-card offer flex size="medium">
  <cl-image *ngIf="offer?.image"
    dpr="auto"
    responsive
    width="auto"
    crop="fill"
    [public-id]="offer.image"
    height="300"
    size="medium"
    secure="true">
    <cl-transformation background="black" opacity="80"></cl-transformation>
  </cl-image>
  <h2 class="card-title" bold><span style="flex-basis: 50%; text-align: right;">{{ offer.franchise.name }}</span>&nbsp;|&nbsp;<span style="flex-basis: 50%; text-align: left;">{{ offer.name }}</span></h2>
  <p class="card-subtitle">{{offer.description}}</p>
  <p class="card-subtitle" tags><span class="addresses" (click)="onAddressView()" clickable>{{ offer.getLocations() }}</span> &bull; {{ offer.merchips | number }}</p>
  <div class="card-spacer"></div>
  <div class="card-buttons">
    <button class="little" (click)="onReport()" ion-button icon-only>
      <ion-icon style="font-size: 1.3em" name="md-alert"></ion-icon>
    </button>
    <button class="big" (click)="onView()" ion-button icon-only>
      <ion-icon style="font-size: 1.5em" name="md-barcode"></ion-icon>
    </button>
    <button class="little" (click)="onNavigation()" ion-button icon-only>
      <ion-icon style="font-size: 1.3em" name="md-navigate"></ion-icon>
    </button>
  </div>
</ion-card>
<redeem-viewer [hidden]="hideRedeem"></redeem-viewer>
