<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
      <button ion-button navPop icon-only clickable>
        <ion-icon primary name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="text-center" primary tb-header>{{ type | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clickable (click)="onDocSelect()">
        <ion-icon primary name="document"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <div style="padding-left: 10px; padding-right: 10px" *ngIf="type === 'dmca'" [innerHTML]="dmca"></div>
  <div style="padding-left: 10px; padding-right: 10px" *ngIf="type === 'clientGuide'" [innerHTML]="guidelines"></div>
  <iframe overflow-scroll="true" style="width: 100%; height: 100%;" *ngIf="type !== 'clientGuide' && type !=='dmca'" [src]="iframeSrc" frameBorder="0">
      <p>{{'no-iframe-support' | translate}} <a [href]="iframeSrc" translate>click-instead</a></p>
  </iframe>
</ion-content>
