<ion-content class="purple">
  <div class="spacer"></div>
  <form class="fd-form" fill #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <h1 class="fd-form-title" cursive primary>Mercial</h1>
    <div class="break" small></div>
    <h5 class="fd-form-subtitle" primary translate>slogan</h5>
    <div class="break" medium></div>
    <ion-item no-border class="fd-item fd-input-holder" center>
      <ion-input type="email" primary [placeholder]="'email_address' | translate" name="email" autocomplete="email" required ngModel email></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item no-border class="fd-item fd-input-holder" center>
      <ion-input type="password" bullet primary placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" autocomplete="current-password" minlength="4" required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <div class="break" small ldisplay></div>
    <div class="fd-basis">
      <button caps ion-button round color="primary" white class="fd-button fd-button-full" [disabled]="loginForm.invalid">{{'log_in' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text" primary center><a inline primary caps [navPush]="register" translate>register</a></p>
    <p class="fd-form-text" center><a caps inline [navPush]="forgot" primary translate>forgot_pass$question</a></p>
  </form>
</ion-content>
<mercial-loader></mercial-loader>
