<ion-content class="purple">
  <div class="spacer"></div>
  <form class="fd-form" fill #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
    <h1 class="fd-form-title" cursive primary translate>forgot_password</h1>
    <div class="break" small></div>
    <div class="break" medium></div>

    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="text" [placeholder]="'email_address' | translate" primary name="email" autocomplete="email" required ngModel email></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
      <ion-datetime displayFormat="MM/DD/YYYY" placeholder="{{'dob' | translate}}" #dateInput name="dob" readonly required ngModel></ion-datetime>
    </ion-item>
    <div class="break" small></div>
    <div class="break" small ldisplay></div>
    <div class="fd-basis">
      <button ion-button caps round color="primary" white class="fd-button fd-button-full" [disabled]="forgotForm.invalid || !forgotForm.dirty">{{'get_code' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text" primary center><a caps primary inline [navPush]="reset" translate>have_code$question</a></p>
    <p class="fd-form-text" primary center><a caps primary inline [navPush]="login" translate>login</a></p>
  </form>
</ion-content>
<mercial-loader></mercial-loader>
