<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <div class="break" showWhen="android,windows" small></div>
  <div class="fd-basis">
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="cash" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ merchipsEarned }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        total_merchips_earned
      </ion-card-content>
    </ion-card>
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="card" color="primary"></ion-icon>
      </button>
      <ion-card-header class="fd-analytic-header" primary>
        {{ moneySaved | currency }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        money_saved
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <button class="fd-analytic-icon" ion-button icon-only>
      <ion-icon name="pricetag" color="primary"></ion-icon>
    </button>
    <ion-card-header class="fd-analytic-header" primary>
      {{ offersRedeemed }}
    </ion-card-header>
    <ion-card-content class="fd-analytic-subtext" translate>
      offers_redeemed
    </ion-card-content>
  </ion-card>
  <div class="break" small></div>
  <ion-card>
    <ion-card-header translate>
      monthly_activity
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
                 [datasets]="monthlyData"
                 [labels]="lineChartLabels"
                 [options]="lineChartOptions"
                 [colors]="monthlyDataColors"
                 [legend]="true"
                 [chartType]="lineChartType"
                 *ngIf="monthlyData[2].data.length > 0"></canvas>
    </ion-card-content>
  </ion-card>
  <div class="break" *ngIf="pieChartData.length > 0" small></div>
  <ion-card *ngIf="pieChartData.length > 0">
    <ion-card-header translate>
      zipcodes_traveled
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart height="300" width="400"
            [colors]="pieChartColors"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            *ngIf="pieChartData.length > 0"></canvas>
    </ion-card-content>
  </ion-card>
  <div class="break" small></div>
  <ion-card>
    <ion-card-header translate>
      seconds_monthly
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
                 [datasets]="secondsMonthlyData"
                 [labels]="lineChartLabels"
                 [options]="lineChartOptions"
                 [colors]="lineChartColors"
                 [legend]="lineChartLegend"
                 [chartType]="lineChartType"
                 *ngIf="secondsMonthlyData[0].data.length > 0"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
