<div class="viewer-container-hide full" *ngIf="!hidden" (click)="onHide()"></div>
<div class="viewer-container" qr *ngIf="!hidden">
  <ng-container *ngIf="!redeemed">
    <ion-icon name="flash" primary clickable *ngIf="!fastRedeemCode" (click)="onGetFastQR()" class="fd-redeem-fast"></ion-icon>
    <div class="fd-redeem-code" *ngIf="fastRedeemCode" [innerHTML]="fastRedeemCode">

    </div>
    <cl-image *ngIf="!fastRedeemCode && offer?.redeem_code"
      alt="redeem code"
      class="fd-redeem-code"
      width="600"
      format="png"
      [public-id]="offer.getCloudinaryID()"
      height="600"
      secure="true">
      <cl-transformation width="600" height="600" crop="scale"></cl-transformation>
      <cl-transformation color="#663399" effect="colorize:100"></cl-transformation>
    </cl-image>
    <span class="fd-redeem-auth" (click)="showCode = true" style="font-size: 3rem; padding-top: 1em" *ngIf="!showCode" primary [innerHTML]="offer?.hiddenCode"></span>
    <span class="fd-redeem-auth" (click)="showCode = false" *ngIf="showCode" primary>{{ offer?.redeem_verify_code }}</span>
  </ng-container>
  <ng-container *ngIf="redeemed">
    <div class="success-fini">
      <ion-icon class="ssi" primary name="checkmark"></ion-icon>
      <div class="break" medium></div>
      <div class="break" medium></div>
      <ion-icon class="ssi" primary name="pricetags"></ion-icon>
      <div class="break" medium></div>
      <ion-item *ngIf="rated && zipcodeNeeded && !zipcodeEntered">
        <ion-label translate>choose_loc_franchise</ion-label>
        <ion-select clickable name="location" #locationSelector (change)="onLocationSelect(locationSelector)">
          <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
          <ion-option *ngFor="let option of offer?.locations; let i = index" [value]="option.formatted">{{ option.formatted }}</ion-option>
        </ion-select>
      </ion-item>
      <div class="break" medium></div>
      <div class="rating-stars" *ngIf="!rated">
        <ion-icon primary class="star" [title]="star" clickable *ngFor="let star of stars;" [name]="currentStar >= star ? 'star' : 'star-outline'" (mouseover)="currentStar = star" (mouseout)="currentStar = null" (click)="onRated()"></ion-icon>
      </div>
    </div>
  </ng-container>
  <mercial-loader [awaiting]="false" inline></mercial-loader>
</div>
