<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item no-lines transparent *ngFor="let offer of offers; let i = index">
      <mercial-offer (selected)="showOffer($event)" [userLat]="userZipcode?.lat" [userLng]="userZipcode?.lng" [offer]="offer"></mercial-offer>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="30%" [enabled]="keepLoading" (ionInfinite)="$event.waitFor(populateOlderFeed())">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<redeem-viewer *ngIf="offerAvailable" [offer]="currentOffer" (hide)="clearOffer($event)"></redeem-viewer>
<div class="filter-viewer-backdrop" (click)="onFilterClose()" *ngIf="filterOpen">
  <div class="filter-container" id="filter-container">
    <ion-item-group radio-group>
      <ion-item-divider style="border-top-left-radius:20px; border-top-right-radius:20px;" color="light">
        {{'offer_attr' | translate}}
        <ion-icon color="primary" (click)="onFilterChange()" clickable name="md-funnel" item-end></ion-icon>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{'none' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.offerService.filters.meta = null" [checked]="this.offerService.filters.meta == null || !this.offerService.filters.meta" value="none"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'redeems' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.offerService.filters.meta = 'redeems'" [checked]="this.offerService.filters.meta == 'redeems'" value="redeems"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'high_cost' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.offerService.filters.meta = 'highest'" [checked]="this.offerService.filters.meta == 'highest'" value="highest"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'low_cost' | translate}}</ion-label>
        <ion-radio (ionSelect)="this.offerService.filters.meta = 'lowest'" [checked]="this.offerService.filters.meta == 'lowest'" value="lowest"></ion-radio>
      </ion-item>
    </ion-item-group>
    <ion-item-group radio-group>
      <ion-item-divider color="light">{{'date' | translate}}</ion-item-divider>
      <ion-item>
        <ion-label>{{'newest' | translate}}</ion-label>
        <ion-radio value="newest" (ionSelect)="this.offerService.filters.date = 'newest'" [checked]="this.offerService.filters.date == 'newest'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'oldest' | translate}}</ion-label>
        <ion-radio value="oldest" (ionSelect)="this.offerService.filters.date = 'oldest'" [checked]="this.offerService.filters.date == 'oldest'"></ion-radio>
      </ion-item>
    </ion-item-group>
    <ion-item-group radio-group>
      <ion-item-divider color="light">Distance</ion-item-divider>
      <ion-item>
        <ion-label translate [translateParams]="{miles : '2'}">%var%_miles</ion-label>
        <ion-radio value="two" (ionSelect)="this.offerService.filters.location = 'two'" [checked]="this.offerService.filters.location == 'two'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label translate [translateParams]="{miles : '5'}">%var%_miles</ion-label>
        <ion-radio value="five" (ionSelect)="this.offerService.filters.location = 'five'" [checked]="this.offerService.filters.location == 'five'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label translate [translateParams]="{miles : '10'}">%var%_miles</ion-label>
        <ion-radio value="ten" (ionSelect)="this.offerService.filters.location = 'ten'" [checked]="this.offerService.filters.location == 'ten'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label translate [translateParams]="{miles : '15'}">%var%_miles</ion-label>
        <ion-radio value="fifteen" (ionSelect)="this.offerService.filters.location = 'fifteen'" [checked]="this.offerService.filters.location == 'fifteen'"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label translate [translateParams]="{miles : '20'}">%var%_miles</ion-label>
        <ion-radio value="twenty" (ionSelect)="this.offerService.filters.location = 'twenty'" [checked]="this.offerService.filters.location == 'twenty'"></ion-radio>
      </ion-item>
    </ion-item-group>
  </div>
</div>
<mercial-loader [awaiting]="true"></mercial-loader>
