<ion-content>
  <ng-container *ngIf="loaderService.loading !== undefined && !loaderService.loading">
    <div class="break" showWhen="android,browser" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="accountForm" (ngSubmit)="onAccountSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'email_address' | translate }}" type="email" name="email" autocomplete="email" required formControlName="email" email></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input type="password" bullet primary placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" autocomplete="current-password" minlength="4" required formControlName="password"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="accountForm.invalid || !accountForm.dirty">{{'update' | translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="pie" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="targetsForm" (ngSubmit)="onTargetSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-select [placeholder]="'ethnicity' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="ethnicity" clickable>
              <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
              <ion-option *ngFor="let option of ethnicities; let i = index" [value]="option.value" translate>{{ option.formatted }}</ion-option>
            </ion-select>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-select multiple="true" [placeholder]="'languages_understood' | translate" style="width:100%; text-align:center; max-width: 100%;" formControlName="languages" clickable>
              <ion-option [disabled]="true" translate>select_multiple$ellipsis</ion-option>
              <ion-option *ngFor="let option of languages; let i = index" [value]="option.value">{{option.formatted}}</ion-option>
            </ion-select>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="targetsForm.invalid || !targetsForm.dirty">{{'update' | translate}}</button>
          </div>
          <p class="fd-form-text mtb-small" primary translate>target_ft</p>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="pin" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="locationForm" (ngSubmit)="onLocationSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'zipcode' | translate }}" type="text" name="zipcode" autocomplete="zipcode" formControlName="zipcode"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="locationForm.invalid || !locationForm.dirty">{{'update' | translate}}</button>
          </div>
          <p class="fd-form-text mtb-small" primary translate>location_ft</p>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="heart" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="preferencesForm" (ngSubmit)="onPreferencesSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'tags$sep' | translate }}"  type="text" name="tags" autocomplete="tag" formControlName="tags"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="preferencesForm.invalid || !preferencesForm.dirty">{{'update' | translate}}</button>
          </div>
          <p class="fd-form-text mtb-small" primary translate>tags_ft</p>
        </form>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="lock" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="privacyForm" (ngSubmit)="onPrivacySubmit()">
          <ion-item>
            <ion-label>{{'notifications' | translate}}</ion-label>
            <ion-checkbox name="notif-permission-one" formControlName="notif"></ion-checkbox>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="primary" type="submit" name="submit" [disabled]="privacyForm.invalid || !privacyForm.dirty">{{'update' | translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card> -->
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="archive" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <ion-item no-margin no-border class="fd-item fd-input-holder" center>
          <ion-select #legalSelect placeholder="{{'legal_doc' | translate}}" style="width:100%; text-align:center; max-width: 100%;" clickable (ionChange)="onLegalView($event)">
            <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
            <ion-option *ngFor="let option of legalDocs; let i = index" [value]="option.value" translate>{{ option.formatted }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="md-trash" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'confirm_email_address' | translate }}" type="text" name="email-confirm-delete" autocomplete="off" formControlName="email" (input)="validateDeletion()"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button caps round ion-button color="primary" type="submit" name="submit" *ngIf="deletionIsValid" [disabled]="deleteAccountForm.invalid" translate>delete</button>
          </div>
          <p class="fd-form-text mtb-small" primary>{{ 'delete_ft' | translate}}</p>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
