<ion-content class="purple">
  <div class="spacer"></div>
  <form class="fd-form" fill [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <h1 class="fd-form-title" cursive primary translate>reset_pass</h1>
    <div class="break" medium></div>

    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="text" [placeholder]="'six-digit_code' | translate" primary name="code" autocomplete="code" minlength="6" maxlength="8" formControlName="code"></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="email" [placeholder]="'email_address' | translate" primary name="email" autocomplete="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="password" primary [placeholder]="'new_password' | translate" name="password" autocomplete="new-password" minlength="4" (keyup)="mismatch()" formControlName="new-password"></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
      <ion-input type="password" [placeholder]="'re-enter_password' | translate" primary name="confirm-password" autocomplete="new-password" (keyup)="mismatch()" minlength="4" formControlName="confirm-password"></ion-input>
    </ion-item>
    <div class="break" small></div>
    <div class="break" small ldisplay></div>
    <div class="fd-basis">
      <button caps ion-button round color="primary" white class="fd-button fd-button-full" [disabled]="resetForm.invalid || !resetForm.dirty">{{'reset_pass' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text" center primary><a caps primary inline [navPush]="forgot" translate>need_code$question</a></p>
    <p class="fd-form-text" center primary><a caps primary inline [navPush]="login" translate>login</a></p>

  </form>
</ion-content>
<mercial-loader></mercial-loader>
