<div class="viewer-container-hide" (click)="onHide()">CLOSE</div>
<div class="viewer-container">
  <ng-container>
    <video controls="false" playsinline webkit-playsinline [poster]="getThumbnail()" class="fd-modal-video" controlsList="nodownload noremoteplayback" #viewerPlayer>
      <source [src]="video" type="video/mp4"/>
        {{ 'unsupported_browser' | translate }}
    </video>
  </ng-container>
  <mercial-loader [awaiting]="true" inline></mercial-loader>
</div>
